{% extends "base.html" %}

{%block head%} 
<title>Todo App</title>
{% endblock %}


{%block body%}
    <div class="container">
        <h1>Task Master</h1>

        <table>
            <thead>
                <th>Content</th>
                <th>Created Date</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{task.content}}</td>
                    <td>{{task.date_created.date()}}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <a href="/update/{{task.id}}">Update</a>

                    </td>
                </tr>
                {% endfor%}
            </tbody>
            
        </table>

        <form action="/" method="POST">
        <input type="text" name="content" id="content" autocomplete="off" required>
        <input type="submit" value="Add">

        </form>
    </div>
{% endblock %}

